/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300&family=Great+Vibes&family=Dancing+Script:wght@700&display=swap");

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./images/fondo.jpg'); /* Ruta de la imagen */
  background-size: contain; /* Ajusta la imagen para que se muestre completamente */
  background-position: top center; /* Centra la imagen horizontalmente y la inicia desde arriba */
  background-repeat: repeat-y; /* Repite la imagen verticalmente */
  color: #702c9b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que ocupe toda la pantalla */
}

/* Contenedor principal */
.invitation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Asegura que no se corten elementos fuera del contenedor */
}

.content {
  position: relative;
  z-index: 1;
  width: 50%;
  max-width: 1000px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.644); /* Fondo semitransparente para destacar el texto */
  padding: 20px;
  border-radius: 10px;
}


/* Estilos de texto */
.header {
  margin-bottom: 10px;
}

.subtitle1, .subtitle2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; /* Tamaño más pequeño */
  color: #4a295e; 
  margin-bottom: -5px; /* Menor margen entre el subtítulo y los elementos siguientes */
  letter-spacing: 0.5px; /* Reduce el espaciado */
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 6rem; /* Tamaño destacado pero no abrumador */
  color: #8a2be2; /* Lila profundo */
  font-weight: 700;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Más prominente */
  margin: 0;
}

.name {
  font-family: 'Dancing Script', cursive; 
  font-size: 3.8rem; /* Ajuste más grande para destacar */
  font-weight: 700;
  color: #702c9b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px; /* Espaciado menor */
}


.verse {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #4a295e;
  font-style: italic;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
}

/* Temporizador */
.countdown {
  margin: 30px 0;
  color: #4a295e;
}

.countdown h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.countdown-timer {
  display: flex;
  justify-content: space-around;
}

.countdown-timer div {
  text-align: center;
  font-size: 1.1rem;
}

.countdown-timer span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #b87ed6;
}

/* Detalles del evento */
.details {
  margin: 40px 0;
}

.details h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.details p {
  font-size: 1rem;
  margin: 15px 0;
}

.details button {
  background: #b292d9;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.details button:hover {
  background: #6f4e88;
}

/* Galería de fotos */
.gallery {
  text-align: center;
  padding: 20px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
  gap: 15px;
  justify-items: center;
}

.photo-container {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;

  transition: transform 0.3s;
}

.photo-container:hover {
  transform: scale(1.05); /* Animación al pasar el mouse */
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* Sección de Presentes */
.wines {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

.wine {
  text-align: center;
}

.wine img {
  width: 200px;  /* Aumenta el tamaño de las imágenes */
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wine p {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #4a295e;
}

/* Estilo para las imágenes horizontales */
.horizontal img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Ajusta la imagen dentro del contenedor, sin recortarla */
}

/* Estilo del pie de página */
.footer {
  margin-top: 40px;
}

.footer p {
  font-size: 0.9rem;
  color: #6f4e88;
  font-style: italic;
}

/* Media Queries para hacerlo responsive */

@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem; /* Ajuste de tamaño de fuente */
  }

  .name {
    font-size: 4rem;
  }

  .countdown h2 {
    font-size: 1.2rem;
  }

  .countdown-timer span {
    font-size: 1.8rem;
  }

  .details h2 {
    font-size: 1.5rem;
  }

  .photos {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila */
  }

  .wine img {
    width: 250px; /* Aumentar el tamaño de las imágenes en la galería */
    height: 300px;
  }
}

/* Estilo de los elementos del contador */
.countdown-timer {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espaciado entre los círculos por defecto */
  font-size: 2rem;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilo del círculo */
.circle {
  background: #f7f4ff;
  border: 2px solid #b87ed6;
  width: 30px; /* Ajusta el tamaño del círculo */
  height: 30px; /* Ajusta el tamaño del círculo */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle span {
  font-size: 0.8rem !important; /* Forzar el tamaño más pequeño con !important */
  font-weight: bold;
  color: #6f4e88;
}

.countdown-item p {
  font-size: 1rem;
  color: #4a295e;
  font-weight: 100;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
  .countdown-timer {
    gap: 15px; /* Reduce el espacio entre los círculos en pantallas pequeñas */
  }

  .circle {
    width: 25px;  /* Ajusta el tamaño de los círculos en pantallas pequeñas */
    height: 25px; /* Ajusta el tamaño de los círculos en pantallas pequeñas */
  }

  .countdown-item p {
    font-size: 0.8rem; /* Reduce el tamaño del texto en pantallas pequeñas */
  }
}


.music-button {
  background-color: #6a4c9c; /* Tonos lilas */
  color: white;
  border: none;
  border-radius: 12px;
  padding: 7px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.music-button:hover {
  background-color: #9a74d3; /* Un tono más claro cuando se pasa el ratón */
}

.music-button:active {
  background-color: #4e2d7c; 
}

/* Estilos para las imágenes de los vinos */
.wines {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;  
  max-width: 100%;  
  box-sizing: border-box;  
}

.wine {
  text-align: center;
  flex-basis: 15%;  
  margin-bottom: 15px;
  box-sizing: border-box;
}

.wine img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wine p {
  font-size: 1rem; 
  margin-top: 10px;
  color: #4a295e;
}

.wines {
  display: flex;              
  justify-content: space-around; 
  gap: 20px;                  
  flex-wrap: wrap;            
}

.wine img {
  width: 100px;  
  height: 100px; 
  object-fit: cover;  
  border-radius: 8px;  
}

.wine p {
  text-align: center;
  font-size: 1rem;
  color: #702c9b;
}



@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }

  .name {
    font-size: 4rem;
  }

  .countdown h2 {
    font-size: 1.2rem;
  }

  .countdown-timer span {
    font-size: 1.8rem;
  }

  .details h2 {
    font-size: 1.5rem;
  }

  .photos {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila */
  }

  .wine img {
    width: 250px;  /* Aumentar el tamaño de las imágenes en la galería */
    height: 300px;
  }
}

/* Estilo para la portada */
.cover-photo {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin-bottom: 20px; /* Espacio entre la portada y la galería */
}

.cover-photo img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen sin distorsión */
  border-radius: 10px; /* Opcional: bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

/* Ajustes para la galería */
.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 15px; /* Espacio entre las fotos */
  justify-items: center; /* Centra los elementos en el grid */
}


.photo-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.photo-container:hover img {
  transform: scale(1.05); /* Zoom al pasar el ratón */
}

.photo-container.horizontal {
  grid-column: 1 / -1; /* Ocupa toda la fila */
  display: block;
  width: 100%;
}

.photo-container.horizontal img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


@media (max-width: 768px) {
  .wine {
    flex-basis: 45%;  /* Hacer las imágenes un poco más grandes en pantallas medianas */
  }

  .wine img {
    width: 90%;  /* Hacer las imágenes más grandes, ocupando el 90% del contenedor */
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
  .subtitle1, .subtitle2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #4a295e;
    font-style: italic;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  
  .title {
    font-family: 'Playfair Display', serif;
    font-size: 10rem; /* Tamaño destacado pero no abrumador */
    color: #8a2be2; /* Lila profundo */
    font-weight: 700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Más prominente */
    margin: -1;
    margin-top: -60px;
  }
  
  .name {
    font-family: 'Dancing Script', cursive; 
    font-size: 3.8rem; /* Ajuste más grande para destacar */
    font-weight: 700;
    color: #702c9b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px; /* Espaciado menor */
  }
  
  
  .verse1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #4a295e;
    font-style: italic;
    margin-top: -5px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  .verse2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #4a295e;
    font-style: italic;
    margin-top: -1px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  .verse3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #4a295e;
    font-style: italic;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  .countdown h2 {
    font-size: 1rem; /* Ajusta el tamaño del texto del temporizador */
  }

  .countdown-timer span {
    font-size: 1.6rem; /* Reduce el tamaño de los números del temporizador */
  }

  .details h2 {
    font-size: 1.3rem; /* Ajusta el tamaño de los encabezados */
  }

  .details p {
    font-size: 0.9rem; /* Reduce el texto de los detalles */
  }
  .wine {
    flex-basis: 100%; /* Cada imagen ocupa una fila completa */
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Acomoda contenido en columna (imagen arriba, texto abajo) */
    align-items: center; /* Centra todo horizontalmente */
    text-align: center; /* Centra el texto del <p> */
    margin-bottom: 20px; /* Espacio entre cada fila */
  }

  .wine img {
    width: auto; /* Ajusta automáticamente el ancho */
    height: 90px; /* Mantén un tamaño constante */
    max-width: 80%; /* Evita que la imagen sea más ancha que el contenedor */
    object-fit: contain; /* Asegura que la imagen no se deforme */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  }

  .wines {
    gap: 10px; /* Espaciado entre filas */
  }

  .wine p {
    font-size: 0.8rem; /* Tamaño del texto ajustado */
  }
}

